.blog-heading {
	margin-bottom: 50px;
}

.blog-body {
	width: 85%;
	margin: auto;
}

.blog-snippet{
	font-size: 18px; 
	line-height: 27px;
	font-weight: normal;
	padding-top:20px;
	padding-bottom: 20px;
	border-bottom: 1px solid;
}

.blog-final-snippet{
	border-bottom: none;
}

.blog-picture {
	margin: auto;
	max-width: 200px;
}

.blog-text{
	height: 150px;
}

.blog-title {
	text-align: left;
	margin-bottom: 8px;
	font-weight: 400;
}

.blog-p {
	font-size: 18px;
}
.read-more {
    display: block;
    float: right;
    width: 100px;
    height: 30px;
    background: white;
    text-align: center;
    border-radius: 5px;
    color: black;
    border: 1px solid black;
    margin-top:130px ;
}

.read-more:hover {
	background: #337ab7;
	color: white;
	border: none;
}

.read-more:active {
	background: #337ab7;
	color: white;
	border: none;
}

.question {
	font-weight: bold;
}