header {
    position: relative;
    width: 100%;
    min-height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: 49.2%;
    /* background-image: url('../img/header-original.jpg'); */
    background: #337ab7;
    text-align: center;
    color: white;
    height: 200px;
  }

  header .header-content {
    text-align: center;
    padding: 100px 15px 100px;
    width: 100%;
  }

  #headshot {
    position:relative;
    width: 150px;
    padding: .5em;
    margin-top: -80px;
    border-radius: 50%;
    background: rgba(255, 255, 255, .4);
    box-shadow: .5em .5em .5em rgba(0, 0, 0, .4);
  }

  /* if screensize greater than 768 pixels */
@media (min-width: 1600px){
    #headshot {
      width: 230px; 
      margin-top: -120px;
    }
  
    #portfolio {
      padding: 125px 0 100px 0;
    }
  
    header .name-border{
      transform: translate(-50%, -70%);
    }
  }

  /* if screensize less than 768 pixels */
@media (max-width: 768px){
    #headshot {
      width: 125px;
      margin-top: -80px;
    }
  }